{% extends 'base.html' %}
{% load static %}
{% block title %} Features 
{% endblock %}

{% block body %}   
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Workout Programs To Gain Weight</h2>
                    <p class='text-justify'>People do exercise for various reasons. Some of do workout to feel better &
                        energetic, some used
                        to do it as a part of daily routines to get slimmer or fatty. As losing weight is challenging,
                        gaining weight is more challenging. We need to take care of our diet process, regular workouts,
                        etc. Then what to do to achieve these goals? Will you consult a Gym instructor for a workout
                        program to gain weight? Well, Be FiT offers online Gym instructor app with weight gain exercise
                        program.</p>
                    <p class="mt-5 text-justify">Gaining weight is a healthy way but it doesn’t mean to get up & go to each junk
                        food
                        & YOLO meal like crazy. Nope… Healthy means you require a proper diet & exercise which can only
                        provide by the best workout program to gain weight. Workouts to gain weight for skinny guys is
                        the better way to mold your body in shape with gaining weight. Sounds interesting?</p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/s16.jpg' %}" class="img-fluid">
                    
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_trTfA7MPtE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <p class="text-justify">Yes, offers weight gain exercise program on your fingertip. You just need to download a Gym
                        instructor app to follow the workout program to gain weight. If you are looking for weight gain
                        exercise program, then you must have the basic idea about what workout you will need to do
                        during the process of weight loss. As thin people are always ready to try a varied diet, and new
                        exercises, like Push-ups, Low-Intensity Aerobic Workout, cardiovascular workout, Lunges and
                        Squats, Bench Press, Deadlifts, Pull-Ups, Upright Barbell Rows, and Dumbbell Shoulder Press,
                        etc…</p>
                </div>

                <div class="example-content-secondary">
                    <p>Be FiT will guide you about your specific exercises via a workout program to gain weight. So you
                        will get all instructions for a workout by professional instructors, tips & diet plan in just a
                        minute. Whether you are a man or a woman, Fittotech offers all specific weight gain exercise
                        program for both.</p>
                </div>

            </div>
        </div>

    </section>
    <hr>
    <section class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 id="Loss">Workout Programs To Loss Weight</h2>
                    <p>Our body weight is determined by the amount of energy that we take in as food
                    and the amount of energy we expend in the activities of our day. Energy is
                    measured in calories. Metabolism is the sum of all chemical processes within the
                    body that sustain life. Your basal metabolic rate is the number of calories
                    (amount of energy) you need for your body to carry out necessary functions. If
                    your weight remains constant, this is likely a sign that you are taking in the same
                    amounts of calories that you burn daily. If you&#39;re slowly gaining weight over time,
                    it is likely that your caloric intake is greater than the number of calories you burn
                    through your daily activities. Every adult is in control of the amount of food he or
                    she consumes each day, so our intake of calories is something we can control.
                    To a major degree, we can also control our output of energy, or the number of
                    calories we burn each day.</p>
                    <p class="mt-5"Lifestyle and work habits partially determine how
                    many calories we need to eat each day. Someone whose job involves heavy
                    physical labor will naturally burn more calories in a day than someone who sits at
                    a desk most of the day (a sedentary job). For people who do not have jobs that
                    require intense physical activity, exercise or increased physical activity can
                    increase the number of calories burned. The best approach for weight loss is
                    reducing the number of calories you eat while increasing the number of calories
                    you burn through physical activity. To lose 1 pound, you need an expenditure of
                    approximately 3,500 calories. You can achieve this either by cutting back on your
                    food consumption, by increasing physical activity, or ideally, by doing both</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/s10.jpg' %}" class="img-fluid">
                </div>
                <!-- <div class="col-md-3">
                    <img src="img/Personal-Trainer-Before-After-130-Pound-Weight-Loss.jpg">
                </div> -->
            </div>
           
                        <div class="row">
                            <div class="col-md-6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_trTfA7MPtE"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6 mt-5">
                                <p>Yes, offers weight gain exercise program on your fingertip. You just need to download
                                    a Gym instructor app to follow the workout program to gain weight. If you are
                                    looking for weight gain exercise program, then you must have the basic idea about
                                    what workout you will need to do during the process of weight loss. As thin people
                                    are always ready to try a varied diet, and new exercises, like Push-ups,
                                    Low-Intensity Aerobic Workout, cardiovascular workout, Lunges and Squats, Bench
                                    Press, Deadlifts, Pull-Ups, Upright Barbell Rows, and Dumbbell Shoulder Press, etc…
                                </p>
                            </div>
                            
                            <div class="example-content-secondary">
                                <p>Be FiT will guide you about your specific exercises via a workout program to gain
                                    weight. So you will get all instructions for a workout by professional instructors,
                                    tips & diet plan in just a minute. Whether you are a man or a woman, Fittotech
                                    offers all specific weight gain exercise program for both.</p>
                            </div>
                     
            </div>
        </div>
       
            <div class="container-fluid">
                <div class="row "> 
                    <div class="col-md-3">
                        <img src="{% static 'images/s13.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/s14.jpg' %}" alt=""  class="img-fluid">
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/s15.jpg' %}" alt=""  class="img-fluid">
                    </div>
                     <div class="col-md-3">
                        <img src="{% static 'images/s12.jpg' %}" alt=""  class="img-fluid">
                    </div>
                </div>
            </div>
       
    </section>
    <!-- popular cource start-->
    <!-- <section class="popular_cource single_page_popular_cource jumbotron mb-0">
        <div class="container-fluid ">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section_tittle text-center">
                        <h2>Our Popular Features</h2>
                        <p class="back">As you pour the first glass of your favorite Chianti or Chardonnay and settle
                            into an intimate Friday evening.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_popular_cource">
                        <img src="img/single_cource_1.png" alt="">
                        <h3>Basic Body Building <span>1000 Rs.</span></h3>
                        <p class="back">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="reg.html" class="btn_2">Apply Course</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_popular_cource">
                        <img src="img/single_cource_2.png" alt="">
                        <h3>BIntermediate Body Building <span>2000 Rs.</span></h3>
                        <p class="back">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="reg.html" class="btn_2">Apply Course</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_popular_cource">
                        <img src="img/single_cource_3.png" alt="">
                        <h3>Advanced Body Building <span>4000 Rs.</span></h3>
                        <p class="back">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="reg.html" class="btn_2">Apply Course</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> -->
    <!-- popular cource end-->


{% endblock %}